@charset "UTF-8";
.hangman {
  position: relative;
  height: 100vh;
}

.direk {
  position: absolute;
  width: 248px;
  height: 500px;
  border-left: 5px solid black;
  border-top: 5px solid black;
  position: absolute;
  transform: translate(100px, 100px);
}

.askı {
  position: absolute;
  height: 50px;
  border-left: 5px solid rgb(0, 0, 0);
  transform: translate(350px, 100px);
}

.baş.active {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid black;
  transform: translate(300px, 150px);
}

.gövde.active {
  position: absolute;
  height: 150px;
  border-left: 3px solid black;
  transform: translate(350px, 250px);
}

.sol-kol.active {
  position: absolute;
  height: 75px;
  border-left: 3px solid black;
  transform: rotate(45deg) translate(440px, -15px);
}

.sağ-kol.active {
  position: absolute;
  height: 75px;
  border-left: 3px solid black;
  transform: rotate(135deg) translate(-55px, -475px);
}

.sol-bacak.active {
  position: absolute;
  height: 100px;
  border-left: 3px solid black;
  transform: rotate(45deg) translate(494px, 52px);
}

.sağ-bacak.active {
  position: absolute;
  height: 100px;
  border-left: 3px solid black;
  transform: rotate(135deg) translate(0px, -547px);
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.game input[type=text] {
  width: 300px;
  height: 30px;
}
@media screen and (max-width: 600px) {
  .game input[type=text] {
    width: 200px;
  }
}
.game .game-word {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.game .game-word div {
  width: 50px;
  border-bottom: 2px solid black;
  font-size: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .game .game-word {
    gap: 0.4rem;
  }
  .game .game-word div {
    width: 30px;
  }
}
.game .game-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.game .game-input button {
  border: transparent;
  background: rgb(47, 52, 203);
  color: white;
  padding: 1rem;
  border-radius: 12px;
  transition: all 0.15s;
}
.game .game-input button:hover {
  background: rgb(14, 19, 164);
}
.game .game-input button:active {
  transform: translateY(2px);
}
.game .buttons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  padding: 3rem;
}
@media screen and (max-width: 600px) {
  .game .buttons {
    gap: 0.7rem;
  }
}
.game .buttons button {
  padding: 0.7rem;
  border: transparent;
  background-color: rgb(144, 24, 208);
}
.game .buttons button:hover {
  background-color: rgb(99, 15, 145);
  color: white;
}
.game .buttons button:active {
  transform: translateY(2px);
}

.win {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: rgb(78, 246, 142);
  padding: 10px 20px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.win button {
  width: 150px;
  background-color: rgb(70, 186, 253);
  padding: 0.2rem;
}
.win button:active {
  transform: translateY(2px);
}
.win button:hover {
  background-color: rgba(70, 140, 253, 0.723);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 800px) {
  .main {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=App.css.map */